    <header id="header" class="alt">
        <span class="logo animation">
            <img class="fadelogo" title="Maxeo php jquery html" alt="Maxeo php jquery html" src="/imgs/maxeoLogo.svg">
            <div class="rollinglogo"><img title="Maxeo Matteo burbui developer php jquery html" alt="Maxeo Matteo burbui developer php jquery html" src="/imgs/maxeoLogoC.svg"></div>
            <div id="upArrow"><img title="Click scroll up" alt="scroll up" src="/imgs/arrow.svg"></div>
        </span>
        <h1>Matteo Burbui</h1>
        <p>Web Developer, Programmer</p>
        <!--<img src="/imgs/arrow.svg?http://cdn3.cpmstar.com/cached/creatives/983320/300x250_IT_F.jpg" height="1" width="1" class="showAdblockStatus" style="position: fixed;top:0;left: 0;"> serve per vedere se l'utente usa adblock-->
    </header>